<% if !@project.overview_page.pagename.empty? then %>
<div class="box">
<p>
  <%= textilizable(@project.wiki.find_page(@project.overview_page.pagename).text).html_safe %>
</p>
</div>
<% elsif !Wiki.find_page(@settings['pagename'], :project => @project).nil? then %>
<div class="box">
<p>
  <%= textilizable(@project.wiki.find_page(@settings['pagename']).text).html_safe %>
</p>
</div>
<% end %>
