<% if !Wiki.find_page(@project.to_param, :project => @project).nil? then %>
<div class="box">
<p>
  <%= textilizable(@project.wiki.find_page(@project.to_param).text).html_safe %>
</p>
</div>
<% end %>
