<% if !Wiki.find_page(@project.overviewpagename, :project => @project).nil? then %>
<div class="box">
<p>
  <%= textilizable(@project.wiki.find_page(@project.overviewpagename).text).html_safe %>
</p>
</div>
<% end %>
