<% wikipage = @project.try(:overview_page).try(:pagename).presence || Setting.plugin_overview_wikipage['pagename'] %>
<% if wikipage.present? && @project.wiki.find_page(wikipage).present? %>
<div class="box">
<p>
  <%= textilizable(@project.wiki.find_page(wikipage).text).html_safe %>
</p>
</div>
<% end %>
